.allocation-info.timesegment.type_absence.shortname_SU-41- {
	background: rgb(255, 128, 64);
	background: rgba(255, 128, 64, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_Abws {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_Fehl {
	background: rgb(108, 108, 108);
	background: rgba(108, 108, 108, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_HA00202021 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_Z-Tag002022 {
	background: rgb(64, 128, 128);
	background: rgba(64, 128, 128, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_A-Tag {
	background: rgb(0, 128, 255);
	background: rgba(0, 128, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_DK {
	background: rgb(128, 0, 0);
	background: rgba(128, 0, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_FF-TW {
	background: rgb(128, 128, 128);
	background: rgba(128, 128, 128, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_Z-Tag {
	background: rgb(64, 128, 128);
	background: rgba(64, 128, 128, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_WoF {
	background: rgb(108, 108, 108);
	background: rgba(108, 108, 108, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_E-Tag {
	background: rgb(0, 128, 64);
	background: rgba(0, 128, 64, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_P {
	background: rgb(192, 192, 192);
	background: rgba(192, 192, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_Q {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_UoL {
	background: rgb(255, 128, 0);
	background: rgba(255, 128, 0, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_B-Tag {
	background: rgb(170, 255, 255);
	background: rgba(170, 255, 255, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_X {
	background: rgb(108, 108, 108);
	background: rgba(108, 108, 108, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_W-Tag {
	background: rgb(0, 64, 128);
	background: rgba(0, 64, 128, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_Krank0020o002eB002e {
	background: rgb(170, 0, 0);
	background: rgba(170, 0, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_Krank {
	background: rgb(255, 0, 0);
	background: rgba(255, 0, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_SU {
	background: rgb(255, 128, 64);
	background: rgba(255, 128, 64, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_TV-M {
	background: rgb(175, 175, 97);
	background: rgba(175, 175, 97, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_R-Tag {
	background: rgb(128, 0, 128);
	background: rgba(128, 0, 128, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_FF-ÜB {
	background: rgb(202, 255, 202);
	background: rgba(202, 255, 202, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_Kur {
	background: rgb(255, 191, 223);
	background: rgba(255, 191, 223, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_SD002fUS {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_Arb-U {
	background: rgb(255, 128, 192);
	background: rgba(255, 128, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_AV {
	background: rgb(128, 128, 128);
	background: rgba(128, 128, 128, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_SD002fUEBO {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_FRFT {
	background: rgb(128, 128, 0);
	background: rgba(128, 128, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_absence.shortname_Urlaub {
	background: rgb(0, 255, 0);
	background: rgba(0, 255, 0, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_offday.shortname_FF {
	background: rgb(255, 255, 128);
	background: rgba(255, 255, 128, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_offday.shortname_Frei {
	background: rgb(255, 255, 128);
	background: rgba(255, 255, 128, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.timesegment.type_offday.shortname_Z-Frei {
	background: rgb(255, 255, 0);
	background: rgba(255, 255, 0, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_SD002fMDT10020WDP {
	background: rgb(128, 128, 192);
	background: rgba(128, 128, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_ENG0020TZ {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_EINW0020T {
	background: rgb(128, 128, 192);
	background: rgba(128, 128, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Patris0020VZ {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00204F0020in0020Longerich {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_BR0020–0020Betriebsrat {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Seminar0020II {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00203F0020in0020Longerich {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_BÄD002bRES {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_311 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_SD0020A {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_FiF0020BS {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_313 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00201F0020Btf002e0020Nord {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_314 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_315 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00201M0020Btf002e0020Nord {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_SD002fKSV0020 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_910 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_FS0020Bus {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_911 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Tarif0020TZ {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_912 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_SD0020L {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_913 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_914 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_915 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_US {
	background: rgb(128, 128, 192);
	background: rgba(128, 128, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_916 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00202M0020in0020Longerich {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_917 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00204M0020Btf002e0020Nord {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_918 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_919 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00205M0020in0020Longerich {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Messe0020Früh {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_9080020 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00204F0020Btf002e0020Nord {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00205F0020in0020Longerich {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_E-Busschulung {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Seminar0020VZ {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_EINW0020F {
	background: rgb(128, 128, 192);
	background: rgba(128, 128, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00203F0020Btf002e0020Nord {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Sem {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00201M0020in0020Longerich {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_EINW0020M {
	background: rgb(128, 128, 192);
	background: rgba(128, 128, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00203M0020Btf002e0020Nord {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00202F0020Btf002e0020Nord {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Patris0020TZ {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_SD0020RES {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_BÄD {
	background: rgb(128, 128, 192);
	background: rgba(128, 128, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00204M0020in0020Longerich {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_FS0020Strab {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00201F0020in0020Longerich {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_ENG0020VZ {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Seminar0020I {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00202M0020Btf002e0020Nord {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_V-Gleis {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_SD {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00205M0020Btf002e0020Nord {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Schulung {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_121002f2 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00205F0020Btf002e0020Nord {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_121002f1 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Tarif0020VZ {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_121002f4 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_121002f3 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_121002f5 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_SD002fBR0020 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_SD002fMDT30020WDP {
	background: rgb(128, 128, 192);
	background: rgba(128, 128, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_A-Stw002e {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00202F0020in0020Longerich {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Seminar0020TZ {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_1002e0020Hilfe0020Kurs {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Messe0020Mittel {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_DEKRA0020002b0020RES {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_SD002fMDT20020WDP {
	background: rgb(128, 128, 192);
	background: rgba(128, 128, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_UEBO {
	background: rgb(128, 128, 192);
	background: rgba(128, 128, 192, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_Modul00203M0020in0020Longerich {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_903 {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.type_presence.shortname_StrK {
	background: rgb(128, 0, 255);
	background: rgba(128, 0, 255, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.standby.shortname_FW {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.standby.shortname_B {
	background: rgb(153, 153, 0);
	background: rgba(153, 153, 0, 1.00);
	color: rgb(0, 0, 0);
	color: rgba(0, 0, 0, 1.00);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.20);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.standby.shortname_DW {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.standby.shortname_S {
	background: rgb(128, 128, 0);
	background: rgba(128, 128, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.standby.shortname_T {
	background: rgb(128, 128, 0);
	background: rgba(128, 128, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.standby.shortname_F {
	background: rgb(128, 128, 0);
	background: rgba(128, 128, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.standby.shortname_M {
	background: rgb(128, 128, 0);
	background: rgba(128, 128, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.standby.shortname_Sp {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}
.allocation-info.standby.shortname_N {
	background: rgb(128, 128, 0);
	background: rgba(128, 128, 0, 1.00);
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, 1.00);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-image: url(,DanaInfo=fahrerinfo,Port=20000+get?file=images/background_transparent.png);
	background-position: left bottom;
}

